/* Entity manager view */

/* Style the main horizontal splitter to match the sidebar background color */
.v-splitpanel-hsplitter-main {
	background: #3f474e;
	}

/* Sidebar background color, alternate blue color */
.sidebar {
	background: #486e92 url(../img/sidebar-bg.png) repeat-x;
	}

/* The application name */
.sidebar .h1 {
	border-top: 1px solid #92adc5;
	border-bottom: 1px solid #446585;
	padding: 15px 14px;
	text-shadow: 0 1px 2px #395268;
	font-size: 20px;
	}

.sidebar .h1 span {
	font-weight: normal;
	}

.sidebar .view-list {
	background: transparent url(../img/menu-item-separator.png) repeat 0 1px;
	min-height: 0;
	padding-bottom: 1px;
	}

.sidebar .menu-item .v-nativebutton {
	width: 100%;
	height: 36px;
	background: transparent;
	border: none;
	text-align: left;
	padding: 5px 14px;
	font-size: 14px;
	line-height: normal;
	font-weight: bold;
	color: #bed4ea;
	text-shadow: 0 -1px 1px #24384a;
	-webkit-transition: .1s color linear;
	-moz-transition: .1s color linear;
	transition: .1s color linear;
	}

.sidebar .menu-item .v-nativebutton:hover {
	color: #fff;
	-webkit-transition-duration: .05s;
	-moz-transition-duration: .05s;
	transition-duration: .05s;
	}

.sidebar .open {
	background: transparent url(../img/menu-item-sel-bg.png) repeat-x;
	}

.sidebar .open .v-nativebutton {
	color: #fff;
	text-shadow: 0 2px 2px #1b2732;
	cursor: default;
	}

.sidebar .menu-item .new,
.sidebar .menu-item .new:hover {
	width: 53px;
	height: 21px;
	background-image: url(../img/new-button.png);
	border: none;
	padding: 3px 0 4px 19px;
	font-size: 12px;
	color: #fff;
	text-shadow: 0 1px 1px #2d4154;
	cursor: pointer;
	-webkit-transition-duration: 0;
	-moz-transition-duration: 0;
	transition-duration: 0;
	}

.sidebar .menu-item .new:active {
	background-position: 0 -21px;
	color: #d1dbe5;
	}
