@import url(../reindeer/styles.css);

/* Default entity manager and entity view styles */
@import url(entityviews/entitymanagerview.css);

@import url(entityviews/entityviews.css);

.v-app,.v-gridlayout-board>div>div>div {
    background: white;
}

.v-gridlayout-board .v-gridlayout-margin {
    background-color: black;
}

.v-gridlayout-board>div>div>div {
}

.v-gridlayout-margin div {
    overflow: visible !important;
}

.card {
    background-color: yellow;
}

.v-label {
    text-align: center;
}

.v-label.dod,.v-formlayout-captioncell {
    text-align: left;
}

.dod ul {
    margin: 0;
    padding: 0;
    padding-left: 1.38em;
}