@import url(../reindeer/styles.css);

/* Default entity manager and entity view styles */
@import url(entityviews/entitymanagerview.css);

@import url(entityviews/entityviews.css);

.v-app,.v-gridlayout-board>div>div>div {
    background: white;
}

.v-gridlayout-board .v-gridlayout-margin {
    background-color: black;
}

.v-ddwrapper .v-verticallayout {
    background-color: rgba(255, 255, 255, 0.597656);
}

.v-gridlayout-board div {
    overflow: visible !important;
}

.v-ddwrapper {
    padding: 0;
}

.v-verticallayout>div {
    margin: 0 !important;
}

.board .column {
    background-color: rgba(0, 232, 109, 0.597656);
}

.board .card {
    background-color: yellow;
}

.v-label {
    text-align: center;
}

.v-label.dod,.v-formlayout-captioncell {
    text-align: left;
}

.dod ul {
    margin: 0;
    padding: 0;
    padding-left: 1.38em;
}